<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "blocks/head.html" %}
    <script src="{% static 'js/main.js' %}"></script>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="kits col-8">
            <img width="100%" src="/stream" alt="Camera is not connected">
        </div>

        <div class="kits col-4">
            <table>
                <tr>
                    <td></td>
                    <td><img class="arrow-move" src="{% static 'images/Up.png' %}" alt="Up" data-direction="up"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img class="arrow-move" src="{% static 'images/Left.png' %}" alt="Left" data-direction="left"></td>
                    <td></td>
                    <td><img class="arrow-move" src="{% static 'images/Right.png' %}" alt="Right" data-direction="right">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><img class="arrow-move" src="{% static 'images/Down.png' %}" alt="Down" data-direction="down"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>